@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="status">status</div>
<div id="time">time</div>
<div id="delay">delay</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/client.js"></script>